\src\main\resources\.env
\src\main\resources\.env
\.idea
.env
\.env
\.env
src\main\resources\.env
*.env
.env
\.env
src\main\resources\.env
\.idea
\.vscode
\target
\out
src/main/resources/.env
*.MF
src/main/resources/.env